html, body, #root {
  height: 100%;
}

.expandedPre pre {
  resize: vertical;
  white-space: pre-wrap;
  word-break: break-word; 
  cursor: pointer;
  padding: 1em;
  font-size: 0.8em;
}

.collapsedPre pre {
  white-space: pre-wrap;
  word-break: break-word; 
  height: 0em;
  overflow: hidden;
  cursor: pointer;
  padding: 1em;
  text-overflow: ellipsis;
}

.expandedPre:hover, .collapsedPre:hover {
  background-color: #F5F5F5;
}

.collapsedPre_old::after {
  content: '...';
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
}