apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: appstudio-qe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: quay.io/bitnami/postgresql:14.1.0
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: quality-dashboard-secrets
                  key: storage-database
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: quality-dashboard-secrets
                  key: storage-password
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: quality-dashboard-secrets
                  key: storage-user
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgredb
      volumes:
        - name: postgredb